
.imagereservation{
    text-align: center;
    border-radius: 1em;

}
.containerreservation{
    text-align:center;

}
.name, .submitt{ 
    margin: auto; 
    width: 500px;
    max-width: 100%;
    padding: 2em 1em; 
    font-family: Kiano Trial;  
    text-align: justify;  
}
button:hover{
    color: #6495ED;
    border-radius: 10px; 

}